<section class="container">
    <div class="login">
      <h1>Forgot password</h1>
      <div ng-if="errorMsg" class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> {{errorMsg}}
    </div>
      <div ng-if="forgotSuccessMessage" class="alert alert-success" role="alert">
        {{forgotSuccessMessage}}
      </div>
      <form method="post" id="loginForm" name="loginForm" rc-submit="forgorpassword(userData)" novalidate>
        <div class="form-group"><input type="text" name="email" id="email" value="" ng-model="userData.email" validator="[required, email]" placeholder="Email"></div>
       
        <p class="submit"><input type="submit" name="commit" value="Send"></p>
      </form>
    </div>

    
  </section>