<section>
    <!-- <div class="login">
      <h1>Login to Web App</h1>
      <div ng-if="loginErrorMessage" class="alert alert-danger" role="alert">
    </div> -->
    <form method="post" id="msform" name="loginForm" class="form-horizontal panel-body" rc-submit="login(credentials)" novalidate>
      <fieldset>
        <strong ng-show="loginErrorMessage">Oh snap!</strong> {{loginErrorMessage}}
        <div class="form-group"><input type="text" name="username" id="username" value="" ng-model="credentials.username" validator="[required]" placeholder="Email"></div>
        <div class="form-group"><input type="password" name="password" id="password" value="" ng-model="credentials.password"  validator="[required]" placeholder="Password"></div>
        <p class="remember_me">
          <label>
            <input type="checkbox" name="remember" id="remember" ng-model="credentials.remember">
            Remember me on this computer <a href="#/forgotpassword">Forgot Password</a>
          </label>
        </p>
        <input type="submit" name="commit" value="Login" class="next action-button">
      </fieldset>
    </form>
</section>