<div class="main login" ng-init="setLanguage(culture)" ng-cloak>
    <div class="row">
        <div class="large-6 medium-6 columns">
            <form action="" class="form-horizontal" method="post" role="form" id="forgotPasswordConfirmForm" name="forgotPasswordConfirmForm" rc-submit="saveForgotPasswordConfirm(userData)" novalidate="novalidate">
                <input name="__RequestVerificationToken" type="hidden" value="5d4J83cc5XPc3qwXMUHjZ9W7SChKTJiEfzAcipjNWbkUvF5bDid8pikdf1Q_cAPIn61FA-nwqf1Aq6BO1fmBZD5E4VDlYreUKrvccq1DA5Y1">
                <div class="row">
                    <div class="medium-12 columns">
                        <div class="title">
                            <h1 class="ng-binding">{{'ResetYourPassword' | translate}}</h1>
                            <span class="sub-heading ng-binding">{{'EnterYourNewPassword' | translate}}.</span>
                        </div>
                    </div>
                </div>
                <span ng-show="forgotpasswordConfirmError != undefined && forgotpasswordConfirmError != ''" class="error">{{forgotpasswordConfirmError | translate}}</span>
                <span ng-show="forgotpasswordConfirmSuccess != undefined && forgotpasswordConfirmSuccess != ''" class="success">{{forgotpasswordConfirmSuccess | translate}}</span>
                <div class="row">
                    <div class="medium-7 small-12 columns">
                        <div class="field">
                            <label for="newPassword">{{'Password' | translate}}</label>
                            <span form-input data-type="password" data-name="newPassword" data-ngclass="{'has-error': rc.forgotPasswordConfirmForm.needsAttention(userData.password)}" data-id="newPassword" data-ngmodel="userData.password" data-required="true"></span>
                        </div>
                         <div class="field">
                            <label for="cfNewPassword">{{'ConfirmPassword' | translate}}</label>
                            <span form-input data-type="password" data-ngclass="{'has-error': rc.forgotPasswordConfirmForm.needsAttention(userData.cfPassword)}" data-name="cfNewPassword" data-id="cfNewPassword" data-ngmodel="userData.cfPassword" data-required="true"></span>
                        </div>
                        <div class="field">
                            <label for="question">{{'SelectYourQuestion' | translate}}</label>
                            <span form-input data-type="select" data-ngclass="{'has-error': rc.forgotPasswordConfirmForm.needsAttention(userData.question)}" data-firstoption="{{'SelectYourFirstQuestion' | translate}}" data-options='option.Key | translate for option in userQuestions track by option.QuestionIndex' data-ngclass="{'has-error': rc.forgotPasswordConfirmForm.needsAttention(userdata.forgotPasswordConfirmForm)}" data-name="question" data-id="question" data-ngmodel="userData.question" data-required="true"></span>   
                        </div>
                        <div ng-if="userData.question != undefined" class="field">
                            <label for="answer">{{'YourAnswer' | translate}}</label>
                            <span form-input data-type="text" data-ngclass="{'has-error': rc.forgotPasswordConfirmForm.needsAttention(userData.answer)}" data-name="answer" data-id="answer" data-ngmodel="userData.answer" data-required="true"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-7 small-12 columns">
                        <div class="field cancel">
                            <a href="/" class="gray"><span><img src="/images/cancel.png"></span> {{'Cancel' | translate}}</a>
                            <input type="submit" value="{{'Save' | translate}}" class="btn btn-green btn-large m-l5 fr">
                        </div>
                    </div>
                </div>
            </form>
        </div>      
    </div>
</div>
<div class="process-overlay" ng-if="global_process"></div>
<div id="process-loading" ng-cloak class="no-bg" ng-if="global_process">
    <div class="spinner">
        <h2 class="h-20x dark-gray">{{global_process | translate}}</h2>
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>