<div class="main" ng-cloak>
    <div class="row">
        <div class="medium-12 columns">
            <div class="Medical-history">
                <div class="row">
                    <div class="medium-9 columns">
                        <div class="title"><h1 class="ng-binding">Medical History</h1><div class="sub-heading">Just a few questions, these help determine the right exam for you.</div></div>
                        <hr class="m-tb25" />
                        <div class="field">
                            <div class="row">
                                <div class="medium-12 columns">
                                    <h5>What is the reason for your pelvic ultrasound?</h5><label>You can find this on the order from your doctor</label>
                                    <textarea id="txtArea" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <hr class="m-tb25" />
                        <div class="field">
                            <h5>Have you had any previous imaging done on your pelvic area?</h5>
                            <div class="row">
                                <div class="large-3 columns m-t15">
                                    <label></label>
                                    <div class="radio-btn global-radio">
                                        <span class="inactive active">
                                            <input type="radio" checked="checked">
                                        </span>
                                        <label for="Male" class="ng-binding">Yes</label>
                                        <span class="inactive">
                                            <input type="radio">
                                        </span>
                                        <label for="Male" class="ng-binding">No</label>
                                    </div>
                                </div>
                                <div class="large-9 columns set-margin-top-ipad-mob">
                                    <div class="one_half m-b5">Last Exam Date</div>
                                    <div class="one_half">Last Exam Location</div><div class="clr"></div>
                                    <div class="outer-border">
                                        <div class="row ">
                                            <div class="medium-6 columns select-box">
                                                <div class="selectParent one_half">
                                                    <span form-input data-type="select"></span>
                                                </div>
                                                <div class="selectParent one_half">
                                                    <span form-input data-type="select"></span>
                                                </div>
                                            </div>
                                            <div class="medium-6 columns set-margin-top-mob"><input type="text" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="m-tb25" />
                        <div class="field">
                            <h5>What is the reason for your diagnostic mammogram?</h5>
                            <label>Check all that apply</label>
                            <div class="field">
                                <div class="row checkbox global-checkbox">
                                    <div class="medium-4 columns">
                                        <span class="active inactive"><input type="checkbox" class="check" id="screening" name="screening"></span>
                                        <label class="label">Pain</label>
                                    </div>
                                    <div class="medium-4 columns">
                                        <span class="inactive"><input type="checkbox" class="check" id="screening" name="screening"></span>
                                        <label class="label">Lump</label>
                                    </div>
                                    <div class="medium-4 columns">
                                        <span class="inactive"><input type="checkbox" class="check" id="screening" name="screening"></span>
                                        <label class="label">Discharge</label>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="row">
                                    <div class="medium-4 columns checkbox global-checkbox">
                                        <span class="inactive"><input type="checkbox" class="check" id="screening" name="screening"></span>
                                        <label class="label">Others</label>
                                    </div>
                                    <div class="medium-8 columns set-margin-top-mob">
                                        <div class="outer-border">
                                            <input type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="m-tb25" />
                        <div class="field">
                            <h5>Have you had a prior breast exam?</h5>
                            <div class="row">
                                <div class="large-3 columns m-t15">
                                    <label></label>
                                    <div class="radio-btn global-radio">
                                        <span class="inactive active">
                                            <input type="radio" checked="checked">
                                        </span>
                                        <label for="Male" class="ng-binding">Yes</label>
                                        <span class="inactive">
                                            <input type="radio">
                                        </span>
                                        <label for="Male" class="ng-binding">No</label>
                                    </div>
                                </div>
                                <div class="large-9 columns set-margin-top-ipad-mob">
                                    <div class="one_half m-b5">Last Exam Date</div>
                                    <div class="one_half">Last Exam Location</div><div class="clr"></div>
                                    <div class="outer-border">
                                        <div class="row ">
                                            <div class="medium-6 columns select-box">
                                                <div class="selectParent one_half">
                                                    <span form-input data-type="select"></span>
                                                </div>
                                                <div class="selectParent one_half">
                                                    <span form-input data-type="select"></span>
                                                </div>
                                            </div>
                                            <div class="medium-6 columns set-margin-top-mob"><input type="text" /></div>
                                        </div>
                                    </div>
                                    <div id="" class="breast-exam-detail m-t30">
                                        <div class="outer-border">
                                            <div class="row ">
                                                <div class="large-8 medium-7 columns"><label class="set-verticle">Are you a 6 month follow up patient?</label></div>
                                                <div class="large-4 medium-5 columns">
                                                    <div class="radio-btn global-radio">
                                                        <span class="inactive active">
                                                            <input type="radio" checked="checked">
                                                        </span>
                                                        <label for="Male" class="ng-binding">Yes</label>
                                                        <span class="inactive">
                                                            <input type="radio">
                                                        </span>
                                                        <label for="Male" class="ng-binding">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="outer-border">
                                            <div class="row ">
                                                <div class="large-8 medium-7 columns"><label class="set-verticle">Are you returning from a recent screening mammogram?</label></div>
                                                <div class="large-4 medium-5 columns">
                                                    <div class="radio-btn global-radio">
                                                        <span class="inactive active">
                                                            <input type="radio" checked="checked">
                                                        </span>
                                                        <label for="Male" class="ng-binding">Yes</label>
                                                        <span class="inactive">
                                                            <input type="radio">
                                                        </span>
                                                        <label for="Male" class="ng-binding">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="outer-border">
                                            <div class="row ">
                                                <div class="large-8 medium-7 columns"><label class="set-verticle">Have you been diagnosed with breast cancer in the last 5 years?</label></div>
                                                <div class="large-4 medium-5 columns">
                                                    <div class="radio-btn global-radio">
                                                        <span class="inactive active">
                                                            <input type="radio" checked="checked">
                                                        </span>
                                                        <label for="Male" class="ng-binding">Yes</label>
                                                        <span class="inactive">
                                                            <input type="radio">
                                                        </span>
                                                        <label for="Male" class="ng-binding">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="outer-border">
                                            <div class="row ">
                                                <div class="large-8 medium-7 columns"><label class="set-verticle">Do you have breast implants?</label></div>
                                                <div class="large-4 medium-5 columns">
                                                    <div class="radio-btn global-radio">
                                                        <span class="inactive active">
                                                            <input type="radio" checked="checked">
                                                        </span>
                                                        <label for="Male" class="ng-binding">Yes</label>
                                                        <span class="inactive">
                                                            <input type="radio">
                                                        </span>
                                                        <label for="Male" class="ng-binding">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="m-tb25" />
                        <div class="row">
                            <div class="medium-12 columns">
                                <div class="field">
                                    <h5>Do you want to schedule a 3D mammo?</h5><p>Please note 3D mammos are only available at our North Scottsdale location.</p>
                                    <div class="large-3 columns m-t15">
                                        <label></label>
                                        <div class="radio-btn global-radio">
                                            <span class="inactive active">
                                                <input type="radio" checked="checked">
                                            </span>
                                            <label class="ng-binding" for="Male">Yes</label>
                                            <span class="inactive">
                                                <input type="radio">
                                            </span>
                                            <label class="ng-binding" for="Male">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="midium-12 columns"><div class="m-t20 m-b40"><input type="button" class="btn btn-large btn-green" value="Continue to doctor"></div></div>
                        </div>
                    </div>
                    <div class="medium-3 columns">
                        <section class="selected-tests set-margin">
                            <h4 class="ng-binding">Selected Exams:</h4>
                            <ul class="list none">
                                <li>Breast<a href="javascript:void(0)"></a></li>
                                <li>Pelvic<a href="javascript:void(0)"></a></li>
                                <li>Pelvic<a href="javascript:void(0)"></a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>