<script src="../app/script/services/dateFormatService.js"></script>
<div class="main">
    <div class="row">
        <div class="medium-12 columns">
            <!--Select exam date and time start -->
            <div class="schedule-your-appointment">
                <div class="row">
                    <div class="medium-9 columns">
                        <!--Schedule your appointment start -->
                        <div class="row">
                            <div class="medium-12 columns">
                                <div class="title">
                                    <div class="sub-heading" style="padding:150px 0;padding-bottom: 10px; text-align:center; font-size:30px">We're sorry, this link has expired.<br/>Click the button to continue at Patient Portal.<!-- {{errorMsg}} --></div>
                                    <div class="sub-heading" style="text-align:center;padding-bottom: 150px; font-size:30px"><a href="/" class="btn btn-large btn-green" >Home</a></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="process-overlay" ng-if="isProcessing"></div>
<div id="process-loading" class="no-bg" ng-if="isProcessing">
<img src="Images/loading-image.gif" />
</div>