<h1>Settings</h1>
<section class="container">
      <div class="showSuccess" style="display:none">
        <p>Goal Value updated successfully</p>
      </div>
      <form method="post" id="" name="" rc-submit="updateGoal(goal)" novalidate>
        <div class="form-group">
         <strong>Goal Popup Text:</strong><br />  <textarea rows="10" cols="50" name="goalValue" ng-model="goal.GOAL_VALUE" placeholder="Enter Goal Value"></textarea>
        </div>      
        <p class="submit"><input type="submit" value="Update"></p>
      </form>
    </div>
  </section>